
# Created by https://www.toptal.com/developers/gitignore/api/nuxtjs,wordpress
# Edit at https://www.toptal.com/developers/gitignore?templates=nuxtjs,wordpress

### Nuxtjs ###
# Nuxt build
.nuxt

/frontend/node_modules

# Nuxt generate
dist

### WordPress ###
# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/backend/wp-admin/
/backend/wp-content/index.php
/backend/wp-content/languages
/backend/wp-content/plugins/index.php
/backend/wp-content/themes/index.php
/backend/wp-includes/
/backend/index.php
/backend/license.txt
/backend/readme.html
/backend/wp-*.php
/backend/xmlrpc.php

# Configuration
/backend/wp-config.php

# Example themes
/backend/wp-content/themes/twenty*/

# Example plugin
/backend/wp-content/plugins/hello.php

# Uploads
/backend/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes


# End of https://www.toptal.com/developers/gitignore/api/nuxtjs,wordpress